---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vaultwarden
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      vaultwarden:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            image:
              repository: vaultwarden/server
              tag: 1.35.3@sha256:1ca2e2098ba9ab9e46004f4ee61a3be6080ffee3ed41018a95c4b0fb6454a54b
            env:
              DOMAIN: https://vaultwarden.${DOMAIN}
              TZ: Europe/Paris
              SIGNUPS_ALLOWED: false
              WEBSOCKET_ENABLED: true
              SMTP_HOST: 10.0.3.1
              SMTP_PORT: 25
              SMTP_FROM: admin@${DOMAIN}
              SMTP_SECURITY: "off"
            envFrom:
              - secretRef:
                  name: vaultwarden
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
                memory: 200Mi
              limits:
                memory: 500Mi
    service:
      app:
        ports:
          http:
            port: 80
    route:
      app:
        hostnames:
          - vaultwarden.${DOMAIN}
        parentRefs:
          - name: envoy-external
            namespace: network
    persistence:
      data:
        existingClaim: vaultwarden
