---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: frigate
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      frigate:
        annotations:
          configmap.reloader.stakater.com/reload: frigate-config
        pod:
          nodeSelector:
            feature.node.kubernetes.io/custom-google-coral: "true"
          resourceClaims:
            - name: gpu
              resourceClaimTemplateName: frigate
        containers:
          app:
            image:
              repository: ghcr.io/blakeblackshear/frigate
              tag: 0.17.0@sha256:5be5ce3b79f8b09a52957afea9d4a23ad62c9f077a05d9047e3404eb78c304a8
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/version
                    port: &port 5000
                  initialDelaySeconds: 120
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
            securityContext:
              privileged: true
            resources:
              requests:
                cpu: 500m
                memory: 1Gi
              limits:
                memory: 4Gi
              claims:
                - name: gpu
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        enabled: true
        hostnames:
          - frigate.${DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      data:
        existingClaim: frigate
      config:
        type: configMap
        name: frigate-config
        globalMounts:
          - path: /config/config.yml
            subPath: config.yml
            readOnly: true
      cache:
        type: emptyDir
        medium: Memory
        sizeLimit: 4Gi
        globalMounts:
          - path: /dev/shm
      pci:
        type: hostPath
        hostPath: /dev/apex_0
        hostPathType: CharDevice
      media:
        type: nfs
        server: singularity.milkyway
        path: /volume1/recordings
        globalMounts:
          - path: /media
