---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    defaultPodOptions:
      annotations:
        k8s.v1.cni.cncf.io/networks: |-
          [{
            "name": "vpn",
            "namespace": "network",
            "ips": ["10.0.90.8/24"],
            "mac": "32:0b:d8:1f:b6:e9"
          }]
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      qbittorrent:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.4@sha256:25fc7caf22101f85276ede9b1f76a46b7a93971bb6b70b6c58d14d6ab7f51415
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v2/app/version
                    port: &port 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
                memory: 8Gi
              limits:
                memory: 16Gi
          qbop:
            image:
              repository: ghcr.io/clajiness/qbop
              tag: v2.4.0@sha256:057cfa323f5a73932f7ce79cde9f218d310c9adec422f56cf7f8d2cbd9a873d9
            env:
              PROTON_GATEWAY: 10.2.0.1
              QBIT_ADDR: http://localhost:8080
              OPN_INTERFACE_ADDR: https://opnsense.milkyway
              OPN_PROTON_ALIAS_NAME: torrent_port
            envFrom:
              - secretRef:
                  name: qbop
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 128Mi
    service:
      app:
        ports:
          http:
            primary: true
            port: *port
          qbop:
            port: &qbopPort 4567
    route:
      app:
        hostnames:
          - qb.${DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - name: qbittorrent
                port: *port
      qbop:
        hostnames:
          - qbop.${DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - name: qbittorrent
                port: *qbopPort
    configMaps:
      config:
        data:
          .qbt.toml: |-
            [qbittorrent]
            addr = "http://localhost:8080"
    persistence:
      config:
        existingClaim: qbittorrent
        advancedMounts:
          qbittorrent:
            app:
              - path: /config
      config-file:
        type: configMap
        identifier: config
        advancedMounts:
          qbittorrent:
            app:
              - path: /config/.qbt.toml
                subPath: .qbt.toml
      media:
        type: nfs
        server: singularity.milkyway
        path: /volume1/media
        advancedMounts:
          qbittorrent:
            app:
              - path: /media
      qbop:
        existingClaim: qbittorrent-qbop
        advancedMounts:
          qbittorrent:
            qbop:
              - path: /opt/qbop/data
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
        advancedMounts:
          qbittorrent:
            qbop:
              - path: /opt/qbop/log
                subPath: qbop-log
