---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: autobrr
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      autobrr:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.2@sha256:ae89578925b480f5972f237dda2f7a37efe36aff500d3e7bd1d3a6a3181e4191
            envFrom:
              - secretRef:
                  name: autobrr-init-db
        containers:
          app:
            image:
              repository: ghcr.io/autobrr/autobrr
              tag: v1.72.1@sha256:89e5e266ae415b4979ddc303cfa80c9bd90fd5be26290ebd8b4757fdc47d7523
            env:
              AUTOBRR__METRICS_ENABLED: true
              AUTOBRR__METRICS_HOST: 0.0.0.0
              AUTOBRR__CHECK_FOR_UPDATES: false
              AUTOBRR__LOG_LEVEL: INFO
              AUTOBRR__OIDC_ENABLED: true
              AUTOBRR__OIDC_ISSUER: https://auth.${DOMAIN}
              AUTOBRR__OIDC_CLIENT_ID: autobrr
              AUTOBRR__OIDC_REDIRECT_URL: https://autobrr.${DOMAIN}/api/auth/oidc/callback
              AUTOBRR__OIDC_DISABLE_BUILT_IN_LOGIN: true
            envFrom:
              - secretRef:
                  name: autobrr
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/healthz/liveness
                    port: &port 7474
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 256Mi
    service:
      app:
        ports:
          http:
            primary: true
            port: *port
          metrics:
            port: 9074
    serviceMonitor:
      app:
        endpoints:
          - port: metrics
    route:
      app:
        hostnames:
          - autobrr.${DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        existingClaim: autobrr
      tmpfs:
        type: emptyDir
        advancedMounts:
          autobrr:
            app:
              - path: /config/log
                subPath: log
              - path: /tmp
                subPath: tmp
