# ansible roles
ansible/roles/xanmanning.k3s/

# ansible-lint cache
.cache/

# os build directories and files
os/amd64/tftp/
os/amd64/www/
*.iso

# k8s
kubeconfig
talosconfig
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.key

# binaries
bin/

# direnv
.direnv/
