[env]
_.python.venv = { path = "{{config_root}}/.venv", create = true }
KUBECONFIG = "{{config_root}}/kubeconfig"
SOPS_AGE_KEY_FILE = "{{config_root}}/age.key"
TALOSCONFIG = "{{config_root}}/talos/clusterconfig/talosconfig"

[tools]
python = "3.14.3"
uv = "latest"
"aqua:FiloSottile/age" = "latest"
"aqua:budimanjojo/talhelper" = "3.1.5"
"aqua:charmbracelet/gum" = "latest"
"aqua:cilium/cilium-cli" = "0.19.2"
"aqua:cloudflare/cloudflared" = "2026.2.0"
"aqua:fluxcd/flux2" = "2.8.1"
"aqua:getsops/sops" = "latest"
"aqua:helm/helm" = "latest"
"aqua:helmfile/helmfile" = "latest"
"aqua:jqlang/jq" = "latest"
"aqua:kubernetes-sigs/kustomize" = "latest"
"aqua:kubernetes/kubectl" = "1.34.1"
"aqua:mikefarah/yq" = "latest"
"aqua:siderolabs/talos" = "1.12.4"
"aqua:yannh/kubeconform" = "0.7.0"
"npm:prettier" = "latest"
"pipx:makejinja" = "latest"
