[env]
_.python.venv = { path = "{{config_root}}/.venv", create = true }
KUBECONFIG = "{{config_root}}/kubeconfig"
SOPS_AGE_KEY_FILE = "{{config_root}}/age.key"
TALOSCONFIG = "{{config_root}}/talos/clusterconfig/talosconfig"

[tools]
python = "3.14.0"
uv = "latest"
"aqua:FiloSottile/age" = "latest"
"aqua:budimanjojo/talhelper" = "3.0.39"
"aqua:charmbracelet/gum" = "latest"
"aqua:cilium/cilium-cli" = "0.18.8"
"aqua:cloudflare/cloudflared" = "2025.11.0"
"aqua:fluxcd/flux2" = "2.7.3"
"aqua:getsops/sops" = "latest"
"aqua:helm/helm" = "latest"
"aqua:helmfile/helmfile" = "latest"
"aqua:jqlang/jq" = "latest"
"aqua:kubernetes-sigs/kustomize" = "latest"
"aqua:kubernetes/kubectl" = "1.34.1"
"aqua:mikefarah/yq" = "latest"
"aqua:siderolabs/talos" = "1.11.5"
"aqua:yannh/kubeconform" = "0.7.0"
"npm:prettier" = "latest"
"pipx:makejinja" = "latest"
