[defaults]
inventory               = ./ansible/inventory
roles_path              = ./ansible/roles
stdout_callback         = yaml
#retry_files_enabled     = False
fact_caching            = jsonfile
fact_caching_connection = ~/.ansible/facts_cache
fact_caching_timeout    = 7200

[ssh_connection]
pipelining              = True
