[defaults]
inventory               = ./ansible/inventory
roles_path              = ./ansible/roles
vault_password_file     = ./ansible/vault_pass
stdout_callback         = yaml
fact_caching            = jsonfile
fact_caching_connection = ~/.ansible/facts_cache
fact_caching_timeout    = 7200

[ssh_connection]
pipelining              = True
