---
- name: add docker GPG key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
  become: yes

- name: add docker repository
  apt_repository:
    repo: deb https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable
    filename: docker
  become: yes

- name: install docker
  apt:
    name:
      - docker-ce
      - python3-docker
    update_cache: yes
  become: yes

- name: create unifi directory
  file:
    path: /etc/unifi
    state: directory
    mode: 0755
  become: yes

- name: create unifi certificates directory
  file:
    path: /etc/unifi/cert
    state: directory
    mode: 0755
  become: yes

- name: copy unifi certificates
  copy:
    src: /mnt/singularity/certificates/{{ item.src }}
    dest: /etc/unifi/cert/{{ item.dest }}
    mode: 0600
  with_items:
    - src: sun.milkyway.pem
      dest: cert.pem
    - src: sun.milkyway-key.pem
      dest: privkey.pem
    - src: milkyway-ca-bundle.pem
      dest: chain.pem
  become: yes

- name: install unifi
  community.general.docker_container:
    name: unifi
    image: jacobalberty/unifi:latest
    pull: yes
    restart_policy: always
    network_mode: host
    volumes:
      - /etc/unifi:/unifi
    env:
      TZ: Europe/Paris
  become: yes
