---
apiVersion: crd.projectcalico.org/v1
kind: BGPConfiguration
metadata:
  name: default
spec:
  asNumber: {{ calico_bgp_configuration.as }}
  serviceClusterIPs:
    - cidr: {{ calico_bgp_configuration.service_cluster_ips_cidr }}
  serviceExternalIPs:
    - cidr: {{ calico_bgp_configuration.service_external_ips_cidr }}
