---
- name: Update user open file limit
  ansible.builtin.copy:
    content: |
      * hard nofile 97816
      * soft nofile 97816
      session required pam_limits.so
    dest: /etc/security/limits.d/10-kubernetes.conf
    mode: 0644
  when: '"kubernetes" in group_names'

- name: Sysctl increase max_user_watches
  ansible.posix.sysctl:
    name: fs.inotify.max_user_watches
    value: "524288"
    sysctl_file: /etc/sysctl.d/98-kubernetes-fs.conf
  when: '"kubernetes" in group_names'

- name: Sysctl increase max_user_instances
  ansible.posix.sysctl:
    name: fs.inotify.max_user_instances
    value: "512"
    sysctl_file: /etc/sysctl.d/98-kubernetes-fs.conf
  when: '"kubernetes" in group_names'

- name: Swap
  block:
    - name: Disable swap
      ansible.builtin.command: swapoff -a
      when: ansible_facts["swaptotal_mb"] > 0
      changed_when: true
    - name: Disable swap system start
      ansible.posix.mount:
        name: "{{ item }}"
        fstype: swap
        state: absent
      loop:
        - swap
        - none
