---
- name: Time
  ansible.builtin.import_tasks: time.yml
  tags:
    - time

- name: Packages
  ansible.builtin.import_tasks: packages.yml
  tags:
    - packages

- name: Power Button
  ansible.builtin.import_tasks: power-button.yml
  tags:
    - power-button

- name: MOTD
  ansible.builtin.import_tasks: motd.yml
  tags:
    - motd

- name: Kernel
  ansible.builtin.import_tasks: kernel.yml
  tags:
    - kernel

- name: Network
  ansible.builtin.import_tasks: network.yml
  tags:
    - network

- name: Filesystem
  ansible.builtin.import_tasks: filesystem.yml
  tags:
    - filesystem

- name: Pi
  ansible.builtin.import_tasks: pi.yml
  tags:
    - pi

- name: Journald
  ansible.builtin.import_tasks: journald.yml
  tags:
    - journald

- name: Unattended Upgrades
  ansible.builtin.import_tasks: unattended-upgrades.yml
  tags:
    - unattended-upgrades

- name: Terminfo
  ansible.builtin.import_tasks: terminfo.yml
  tags:
    - terminfo
