---
- name: Sysctl network configuration
  ansible.posix.sysctl:
    name: "{{ item.key }}"
    value: "{{ item.value }}"
    sysctl_file: /etc/sysctl.d/99-kubernetes-cri.conf
  loop: "{{ sysctl_config | dict2items }}"
  vars:
    sysctl_config:
      net.ipv4.ip_forward: 1
      net.ipv4.conf.all.forwarding: 1
      net.ipv6.conf.all.forwarding: 1
      net.bridge.bridge-nf-call-iptables: 1
      net.bridge.bridge-nf-call-ip6tables: 1
      net.ipv4.conf.default.rp_filter: 0
      net.ipv4.conf.all.rp_filter: 0
      net.core.rmem_max: 2500000
      net.core.wmem_max: 2500000
  when: '"kubernetes" in group_names'

- name: Update hostname
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"
  when: ansible_hostname != inventory_hostname

- name: Update /etc/hosts
  ansible.builtin.lineinfile:
    dest: /etc/hosts
    regexp: "^127\\.0\\.1\\.1"
    line: "127.0.1.1 {{ inventory_hostname }}"
