---
- name: Gather the package facts
  ansible.builtin.package_facts:
    manager: auto

- name: Upgrade all packages
  ansible.builtin.apt:
    upgrade: full
    update_cache: true
    cache_valid_time: 3600
    autoclean: true
    autoremove: true

- name: Install packages
  ansible.builtin.apt:
    name: "{{ os_packages.install }}"
    update_cache: true
    cache_valid_time: 3600
    autoclean: true
  when: os_packages.install | length > 0

- name: Remove snaps
  community.general.snap:
    name: "{{ item }}"
    state: absent
  loop:
    - lxd
    - core18
    - core20
    - snapd
  when:
    - '"snapd" in ansible_facts.packages'
    - '"snapd" in os_packages.remove'

- name: Remove packages
  ansible.builtin.apt:
    name: "{{ os_packages.remove }}"
    state: absent
    autoremove: true
    purge: true
  when: os_packages.remove | length > 0
