---
- name: pi | apply boot config options
  ansible.builtin.lineinfile:
    path: /boot/config.txt
    regex: "^#?{{ item.key }}="
    line: "{{ item.key }}={{ item.value }}"
  loop: "{{ pi_config | dict2items }}"
  when: pi_config is defined
