---
- name: Disable single power button press shutdown
  ansible.builtin.lineinfile:
    path: /etc/systemd/logind.conf
    regexp: "{{ item.setting }}"
    line: "{{ item.setting }}={{ item.value }}"
  loop:
    - setting: HandlePowerKey
      value: ignore
  when: ansible_facts["product_name"] == 'NUC8i5BEH' or ansible_facts["product_name"] == 'NUC8i3BEH'
  notify: restart logind
