---
- name: Create kitty source directory
  ansible.builtin.file:
    path: /usr/src/kitty
    state: directory
    mode: 0755

- name: Download kitty terminfo
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/kovidgoyal/kitty/master/terminfo/kitty.terminfo
    dest: /usr/src/kitty/kitty.info
    mode: 0644
  register: kitty_terminfo_src

- name: Install kitty terminfo
  ansible.builtin.command:
    cmd: tic -xe xterm-kitty kitty.info
    chdir: /usr/src/kitty
  when: kitty_terminfo_src is changed # noqa no-handler

- name: Create alacritty source directory
  ansible.builtin.file:
    path: /usr/src/alacritty
    state: directory
    mode: 0755

- name: Download alacritty terminfo
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/alacritty/alacritty/master/extra/alacritty.info
    dest: /usr/src/alacritty/alacritty.info
    mode: 0644
  register: alacritty_terminfo_src

- name: Install alacritty terminfo
  ansible.builtin.command:
    cmd: tic -xe alacritty,alacritty-direct alacritty.info
    chdir: /usr/src/alacritty
  when: alacritty_terminfo_src is changed # noqa no-handler

- name: Install foot terminfo
  ansible.builtin.apt:
    name: foot-terminfo
  when: ansible_facts['os_family'] == "Debian"
