---
- name: Install kitty terminfo
  ansible.builtin.apt:
    name: kitty-terminfo
  when: ansible_facts['os_family'] == "Debian"

- name: Install alacritty terminfo
  ansible.builtin.apt:
    name: ncurses-term
  when: ansible_facts['os_family'] == "Debian"

# Ghostty terminfo is available in ncurses 6.5-20241228+ (Debian 13+)
# This manual installation can be removed once we upgrade to Debian 13
- name: Check if ghostty terminfo is installed
  ansible.builtin.command:
    cmd: infocmp xterm-ghostty
  register: os_ghostty_terminfo_check
  changed_when: false
  failed_when: false

- name: Copy ghostty terminfo from local system
  ansible.builtin.command:
    cmd: infocmp -x xterm-ghostty
  delegate_to: localhost
  vars:
    ansible_become: false
  register: os_ghostty_terminfo_local
  changed_when: false
  when: os_ghostty_terminfo_check.rc != 0

- name: Install ghostty terminfo on remote system
  ansible.builtin.shell:
    cmd: echo {{ os_ghostty_terminfo_local.stdout | quote }} | tic -x -
  when: os_ghostty_terminfo_check.rc != 0 and os_ghostty_terminfo_local.stdout is defined
  changed_when: true

- name: Install foot terminfo
  ansible.builtin.apt:
    name: foot-terminfo
  when: ansible_facts['os_family'] == "Debian"
