---
k3s_control_node: yes

k3s_server:
  flannel-backend: 'none'
  disable:
    - servicelb
    - traefik
    - local-storage
    - metrics-server
  disable-network-policy: yes
  disable-cloud-controller: yes
  cluster-cidr: 10.42.0.0/16
  service-cidr: 10.43.0.0/16
  cluster-domain: cluster.milkyway
  tls-san:
    - "k8s-master"
  node-label:
    - "k3s-upgrade=true"
