---
- hosts:
    - master
    - worker
  vars_prompt:
    name: nuke_confirmation
    prompt: This will REMOVE longhorn disk. Do you wish to continue? [Y/n]
    default: n
    private: no
  vars:
    longhorn_state: absent
  any_errors_fatal: yes
  pre_tasks:
    - name: check confirmation
      fail:
        msg: Abort.
      when: nuke_confirmation != "Y"
  roles:
    - name: longhorn
      when: longhorn_enabled is defined and longhorn_enabled
