---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app kube-prometheus-stack
  namespace: flux-system
spec:
  targetNamespace: observability
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./cluster/apps/observability/kube-prometheus-stack/app
  sourceRef:
    kind: GitRepository
    name: flux-cluster
  prune: true
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 15m
  postBuild:
    substitute:
      # renovate: datasource=docker image=quay.io/thanos/thanos
      THANOS_VERSION: v0.35.1
