---
- name: Restart logind systemd service
  ansible.builtin.systemd:
    name: systemd-logind.service
    state: restarted
  listen: restart logind

- name: Restart unattended-upgrades systemd service
  ansible.builtin.service:
    name: unattended-upgrades.service
    state: restarted
  listen: unattended-upgrades configuration changed

- name: Restart timesyncd systemd service
  ansible.builtin.service:
    name: systemd-timesyncd.service
    state: restarted
  listen: systemd-timesyncd configuration changed

- name: Restart journald systemd service
  ansible.builtin.systemd:
    name: systemd-journald.service
    state: restarted
  listen: systemd-journald configuration changed

- name: Write to system clock
  ansible.builtin.command: hwclock --systohc
  listen: systemd-timesyncd configuration changed
  when: ansible_facts["virtualization_role"] == "host"
    or ansible_facts["virtualization_role"] == "NA"
  changed_when: true

- name: Grub mkconfig
  ansible.builtin.command: grub-mkconfig -o /boot/grub/grub.cfg
  listen: grub configuration changed
  changed_when: true
