default=autoinstaller
timeout=30
timeout_style=menu
menuentry "Auto Installer - sda" --id=autoinstaller-sda {
    echo "Loading Kernel..."
    linux /vmlinuz ip=dhcp url=http://{{server}}{{root}}/{{iso}} autoinstall ds=nocloud-net\;s=http://{{server}}{{root}}/sda/
    echo "Loading Ram Disk..."
    initrd /initrd
}
menuentry "Auto Installer - nvme0n1" --id=autoinstaller-nvme0n1 {
    echo "Loading Kernel..."
    linux /vmlinuz ip=dhcp url=http://{{server}}{{root}}/{{iso}} autoinstall ds=nocloud-net\;s=http://{{server}}{{root}}/nvme0n1/
    echo "Loading Ram Disk..."
    initrd /initrd
}
menuentry "Live Installer" --id=installer {
    echo "Loading Kernel..."
    linux /vmlinuz ip=dhcp url=http://{{server}}{{root}}/{{iso}}
    echo "Loading Ram Disk..."
    initrd /initrd
}
