default=autoinstaller
timeout=30
timeout_style=menu
menuentry "Focal Auto Installer" --id=autoinstaller {
    echo "Loading Kernel..."
    linux /vmlinuz ip=dhcp url=http://{{server}}{{root}}/{{iso}} autoinstall ds=nocloud-net\;s=http://{{server}}{{root}}/
    echo "Loading Ram Disk..."
    initrd /initrd
}
menuentry "Focal Live Installer" --id=installer {
    echo "Loading Kernel..."
    linux /vmlinuz ip=dhcp url=http://{{server}}{{root}}/{{iso}}
    echo "Loading Ram Disk..."
    initrd /initrd
}
