---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: esphome
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      esphome:
        containers:
          app:
            image:
              repository: esphome/esphome
              tag: 2026.2.2@sha256:f4602039147c0f45371383725d99ee454ddfff11cbff191f09c19164cd3e54de
            env:
              ESPHOME_DASHBOARD_USE_PING: true
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 100m
                memory: 500Mi
              limits:
                memory: 4Gi
    service:
      app:
        ports:
          http:
            port: 6052
    route:
      app:
        enabled: true
        hostnames:
          - esphome.${DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        existingClaim: esphome
      cache:
        existingClaim: esphome-cache
