---
- name: Install package
  ansible.builtin.apt:
    name: ufw
  become: true

- name: Reset configuration
  community.general.ufw:
    state: reset
  become: true
  when: ufw_reset

- name: Set logging
  community.general.ufw:
    logging: "on"
  become: true

- name: Allow ssh
  community.general.ufw:
    rule: allow
    port: ssh
  become: true

- name: Allow ports
  community.general.ufw:
    rule: allow
    port: "{{ item.port }}"
    proto: "{{ item.proto }}"
  loop: "{{ ufw_allow }}"
  become: true
  when: ufw_allow is defined and ufw_allow | length > 0

- name: Deny incoming traffic
  community.general.ufw:
    policy: deny
    direction: incoming
  become: true

- name: Enable
  community.general.ufw:
    state: enabled
  become: true
