---
- name: remove bgp peers configuration
  kubernetes.core.k8s:
    state: absent
    template: bgppeer.yaml.j2
  loop: "{{ calico_bgp_peers }}"
  ignore_errors: yes  # noqa ignore-errors
  run_once: yes
  delegate_to: localhost

- name: remove bgp configuration
  kubernetes.core.k8s:
    state: absent
    template: bgpconfiguration.yaml.j2
  ignore_errors: yes  # noqa ignore-errors
  run_once: yes
  delegate_to: localhost

- name: remove tigera operator configuration
  kubernetes.core.k8s:
    state: absent
    template: installation.yaml.j2
  ignore_errors: yes  # noqa ignore-errors
  run_once: yes
  delegate_to: localhost

- name: remove tigera operator
  kubernetes.core.k8s:
    state: absent
    definition: "{{ item }}"
    wait: yes
  loop: "{{ lookup('url', 'https://docs.projectcalico.org/manifests/tigera-operator.yaml', split_lines=False) | from_yaml_all | list }}"
  loop_control:
    label:
      kind: "{{ item.kind }}"
      name: "{{ item.metadata.name }}"
  run_once: yes
  delegate_to: localhost

- name: clean up ip links
  shell:
    cmd: ip link list | grep cali | awk '{print $2}' | cut -c 1-15 | xargs -I {} ip link delete {}
  changed_when: yes
  become: yes

- name: clean up cni files
  file:
    state: absent
    path: "{{ item }}"
  loop:
    - /etc/cni/net.d/10-calico.conflist
    - /etc/cni/net.d/calico-kubeconfig
    - /opt/cni/bin/calico
    - /opt/cni/bin/calico-ipam
  become: yes
