---
- name: User
  ansible.builtin.import_tasks: user.yml
  tags:
    - user

- name: Prometheus
  ansible.builtin.import_tasks: prometheus-node-exporter.yml
  tags:
    - prometheus-node-exporter

- name: Minio
  ansible.builtin.import_tasks: minio.yml
  tags:
    - minio

- name: Matchbox
  ansible.builtin.import_tasks: matchbox.yml
  tags:
    - matchbox
