---
- name: Install docker and docker-compose python modules
  ansible.builtin.pip:
    name:
      - docker
      - docker-compose
  become: true

- name: Install minio
  community.docker.docker_compose:
    project_name: minio
    pull: true
    definition:
      version: "3.7"
      services:
        minio:
          image: quay.io/minio/minio:RELEASE.2024-07-26T20-48-21Z@sha256:0bdb62054da7782ab5c23729df4730079dd35bcf03b780819e0f7ddcb6b9f4bc
          container_name: minio
          restart: unless-stopped
          command: server --console-address ":9010" /data
          volumes:
            - /volume2/minio:/data
          ports:
            - "9000:9000"
            - "9010:9010"
          environment:
            MINIO_ROOT_USER: "{{ minio_root_user }}"
            MINIO_ROOT_PASSWORD: "{{ minio_root_password }}"
            MINIO_PROMETHEUS_AUTH_TYPE: public
  become: true
