{
    "interfaces": {
        "ethernet": {
            "eth0": {
                "dhcp-options": {
                    "client-option": [
                        "retry 60;",
                        "send vendor-class-identifier &quot;neufbox&quot;;"
                    ]
                }
            }
        }
    },
    "protocols": {
        "bgp": {
            "64512": {
                "neighbor": {
                    "10.0.3.24": {
                        "remote-as": "64512"
                    },
                    "10.0.3.25": {
                        "remote-as": "64512"
                    },
                    "10.0.3.26": {
                        "remote-as": "64512"
                    },
                    "10.0.3.27": {
                        "remote-as": "64512"
                    }
                },
                "parameters": {
                    "router-id": "10.0.3.1"
                }
            }
        }
    },
    "service": {
        "dns": {
            "forwarding": {
                "options": [
                    "server=/{{ unifi_domain }}/10.44.0.4",
                    "server=/milkyway.{{ unifi_domain }}/#",
                    "server=/sunflower.{{ unifi_domain }}/#",
                    "server=/andromeda.{{ unifi_domain }}/#",
                    "server=/{{ unifi_cluster_domain }}/10.44.0.4",
                    "server=1.1.1.1",
                    "server=1.0.0.1"
                ]
            }
        }
    },
    "system": {
        "login": {
            "user": {
                "admin": {
                    "authentication": {
                        "public-keys": {
                            "openpgp:0x66FDC5CE": {
                                "key": "AAAAC3NzaC1lZDI1NTE5AAAAIE6mQ4yBpDESYhJrIv/G2daw5I2X0cwh0Hj9K1YxCp7n",
                                "type": "ssh-ed25519"
                            }
                        }
                    }
                }
            }
        },
        "static-host-mapping": {
            "host-name": {
                "usg.milkyway": {
                    "inet": [
                        "10.0.1.1"
                    ]
                },
                "sun.milkyway": {
                    "inet": [
                        "10.0.1.2"
                    ]
                },
                "ntp.milkyway": {
                    "inet": [
                        "10.0.3.1"
                    ]
                },
                "singularity.milkyway": {
                    "inet": [
                        "10.0.3.6"
                    ]
                },
                "k8s-node-1.milkyway": {
                    "alias": [
                        "k8s-master.milkyway"
                    ],
                    "inet": [
                        "10.0.3.24"
                    ]
                },
                "k8s-node-2.milkyway": {
                    "inet": [
                        "10.0.3.25"
                    ]
                },
                "k8s-node-3.milkyway": {
                    "inet": [
                        "10.0.3.26"
                    ]
                },
                "k8s-node-4.milkyway": {
                    "inet": [
                        "10.0.3.27"
                    ]
                },
                "alarmsensor.milkyway": {
                    "inet": [
                        "10.0.5.64"
                    ]
                },
                "magicframe.milkyway": {
                    "inet": [
                        "10.0.5.65"
                    ]
                },
                "lisebedlight.milkyway": {
                    "inet": [
                        "10.0.5.66"
                    ]
                },
                "abigaellebedlight.milkyway": {
                    "inet": [
                        "10.0.5.67"
                    ]
                },
                "deskmonitorlight.milkyway": {
                    "inet": [
                        "10.0.5.68"
                    ]
                },
                "columbia.milkyway": {
                    "inet": [
                        "10.0.10.16"
                    ]
                },
                "curiosity.milkyway": {
                    "inet": [
                        "10.0.10.17"
                    ]
                },
                "ursamajor.milkyway": {
                    "inet": [
                        "10.0.10.24"
                    ]
                },
                "earth.milkyway": {
                    "inet": [
                        "10.0.10.32"
                    ]
                },
                "venus.milkyway": {
                    "inet": [
                        "10.0.10.34"
                    ]
                },
                "saturn.milkyway": {
                    "inet": [
                        "10.0.10.36"
                    ]
                },
                "moon.milkyway": {
                    "inet": [
                        "10.0.10.37"
                    ]
                },
                "moondock.milkyway": {
                    "inet": [
                        "10.0.10.38"
                    ]
                },
                "moonbond.milkyway": {
                    "inet": [
                        "10.0.10.39"
                    ]
                },
                "switch.milkyway": {
                    "inet": [
                        "10.0.10.48"
                    ]
                },
                "asterix.milkyway": {
                    "inet": [
                        "10.0.10.80"
                    ]
                },
                "cassini.milkyway": {
                    "inet": [
                        "10.0.10.81"
                    ]
                },
                "phobos.milkyway": {
                    "inet": [
                        "10.0.10.82"
                    ]
                },
                "titan.milkyway": {
                    "inet": [
                        "10.0.10.83"
                    ]
                }
            }
        }
    }
}
