[defaults]
inventory               = ./inventory
roles_path              = ./roles
stdout_callback         = ansible.builtin.default
result_format           = yaml
fact_caching            = jsonfile
fact_caching_connection = ~/.ansible/facts_cache
fact_caching_timeout    = 7200
vars_plugins_enabled    = host_group_vars,community.sops.sops

[ssh_connection]
pipelining              = True
