---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mealie
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      mealie:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            image:
              repository: ghcr.io/mealie-recipes/mealie
              tag: v3.7.0@sha256:bb2939094eed2f2b71458f2793c232d094c02507371107fe1068b79e6118c620
            env:
              BASE_URL: https://mealie.${DOMAIN}
              API_DOCS: false
              SMTP_HOST: 10.0.3.1
              SMTP_PORT: 25
              SMTP_AUTH_STRATEGY: NONE
              SMTP_FROM_EMAIL: admin@${DOMAIN}
              OIDC_AUTH_ENABLED: true
              OIDC_SIGNUP_ENABLED: true
              OIDC_CONFIGURATION_URL: https://auth.${DOMAIN}/.well-known/openid-configuration
              OIDC_CLIENT_ID: mealie
              OIDC_USER_CLAIM: preferred_username
              OIDC_AUTO_REDIRECT: false
              OIDC_GROUPS_CLAIM: groups
              OIDC_ADMIN_GROUP: admins
              OIDC_USER_GROUP: family
            envFrom:
              - secretRef:
                  name: mealie
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
                memory: 400Mi
              limits:
                memory: 600Mi
    service:
      app:
        ports:
          http:
            port: 9000
    route:
      app:
        hostnames:
          - mealie.${DOMAIN}
        parentRefs:
          - name: envoy-external
            namespace: network
    persistence:
      config:
        existingClaim: mealie
        globalMounts:
          - path: /app/data
