---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app lldap
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      lldap:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17.6@sha256:86a1992d46273c58fd4ad95b626081dfaabfe16bd56944675169e406d1a660dd
            envFrom:
              - secretRef:
                  name: lldap-init-db
        containers:
          app:
            image:
              repository: ghcr.io/lldap/lldap
              tag: v0.6.2@sha256:9e605a66c02514bfcffd1b67cafb1e98d50992216bb2871d7ae44622047dd09d
            env:
              LLDAP_HTTP_URL: https://lldap.${DOMAIN}
              LLDAP_LDAP_BASE_DN: dc=home,dc=arpa
            envFrom:
              - secretRef:
                  name: lldap
            probes:
              startup:
                enabled: true
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 10m
                memory: 36Mi
              limits:
                memory: 128Mi
    service:
      app:
        ports:
          http:
            primary: true
            port: 17170
          ldap:
            port: 3890
    route:
      app:
        hostnames:
          - lldap.${DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      data:
        type: emptyDir
