---
name: pre-commit

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    env:
      yq-version: v4.6.3
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - uses: actions/setup-python@v2

      - name: Cache yq
        id: cache-yq
        uses: actions/cache@v2
        with:
          path: bin/yq
          key: yq-${{ env.yq-version }}

      - name: Install yq
        if: steps.cache-yq.outputs.cache-hit != 'true'
        run: |
          mkdir -p bin
          wget https://github.com/mikefarah/yq/releases/download/${{ env.yq-version }}/yq_linux_amd64 -O bin/yq
          chmod +x bin/yq

      - name: Cache deduplicated pre-commit config
        id: cache-precommitconfig
        uses: actions/cache@v2
        with:
          path: .github/.pre-commit-config.yaml
          key: precommitconfig-${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Remove duplicates from pre-commit config
        if: steps.cache-precommitconfig.outputs.cache-hit != 'true'
        run: |
          bin/yq eval 'del(.repos.[].hooks[] | select(.id == "shellcheck" or .id == "ansible-lint" or .id == "kustomize"))' .pre-commit-config.yaml > .github/.pre-commit-config.yaml

      - uses: pre-commit/action@v2.0.3
        with:
          extra_args: -c .github/.pre-commit-config.yaml
